.RoundContainer {
  position: relative;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.Canvas {
    display: inline-block;
    flex-grow: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* .canvasWrap{
} */
.textBox {
    font-size: 1.2rem;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 2px 1px darkgray;
    text-align: right;
    width: 300px;
    height: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

